src/main/mule/derbymuleapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="03228387-f9c9-426c-9658-03318eed1b4c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<spring:config name="Spring_Config" doc:name="Spring Config" doc:id="658010b1-b0bc-402a-bda3-b8b41a994a8d" files="springbeans.xml" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="7cd13038-43e3-45e9-b0da-14adc70b9664" >
		<db:generic-connection url="jdbc:derby:memory:demodb" driverClassName="org.apache.derby.jdbc.EmbeddedDriver" />
	</db:config>
	<flow name="MainFlow" doc:id="2ecf9293-003d-4d3b-9bfa-c23d4864d663" >
		<http:listener doc:name="Listener" doc:id="b2d16340-2a37-40b5-b140-df46a017a010" config-ref="HTTP_Listener_config" path="/customers"/>
		<db:select doc:name="Select" doc:id="e43f49ec-b1f6-4683-a3f8-88ab254c8339" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from demodb.customers ]]></db:sql>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="579cbe94-e320-4d77-bdfa-a19f6a35b37b" message="#[%dw 2.0&#10;---&#10;typeOf(payload)]" category="TypeOf payload"/>
		<ee:transform doc:name="Transform Message" doc:id="cedc096e-6513-482f-a27e-2e2808e5e3ae" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
